* {
  padding: 0;
  margin: 0;
  font-family: century gothic;
}

form {
  background-color: white;
  margin: 15px 0px;
  padding: 20px 40px;
  margin-left: -30px;
}

.foto img {
  width: 100%;
  height: 450px;
  margin-top: 80px;
  margin-bottom: 120px;
}

.container {
  margin-top: 30px;
  -webkit-box-shadow: 25px 93px 208px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 25px 93px 208px 10px rgba(0, 0, 0, 0.75);
}

h1 {
  text-align: center;
  padding: 12px;
  color: #444;
}

input {
  width: calc(100% - 0px);
  padding: 7px;
  font-size: 15px;
}

input[type=submit] {
  background-color: #188BAD;
  color: #fff;
  width: calc(95% - 10px);
  text-align: center;
  margin-top: 22px;
  border: none;
  font-size: 16px;
}

.ok {
  text-align: center;
  width: calc(100% - 0px);
  padding: 8px;
  background-color: #1e6;
  color: #fff;
  font-size: 15px;
  margin-top: -60px;
  margin-left: -12px;
}

.bad {
  text-align: center;
  width: calc(94% - 0px);
  padding: 8px;
  background-color: #a22;
  color: #fff;
  font-size: 15px;
  margin-top: -40px;
  margin-left: 5px;
}

.card-text {
  margin-top: -500px;
  text-align: justify;
  color: #188BAD;
  padding: 15px;
}